---
_extends: .github:common-settings.yaml

repository:
  name: renovate-config
  description: Shareable Renovate configuration presets for my personal GitHub repositories.
  topics: renovate, renovate-config, renovate-preset, renovatebot, renovate-by-githubaction, semantic-release

branches:
  - name: main
    protection:
      required_status_checks:
        strict: true
        contexts: [Analyze, CodeQL, Fro Bot, Lint, Release, Renovate / Renovate]
      enforce_admins: true
      required_pull_request_reviews: null
      restrictions: null
      required_linear_history: true
