---
name: main

'on':
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Dry run'
        default: true
        required: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: 'pnpm'
          node-version-file: '.node-version'

      - name: Install dependencies
        run: pnpm bootstrap

      - name: Check formatting
        run: pnpm run check-format

  release:
    env:
      DRY_RUN: ${{ github.event_name == 'pull_request' || github.event.inputs.dry-run && 'true' || 'false' }}
    name: Release
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - id: get-workflow-app-token
        name: Get Workflow Application Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.APPLICATION_ID }}
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
          token: ${{ steps.get-workflow-app-token.outputs.token }}

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: 'pnpm'
          node-version-file: '.node-version'

      - name: Install dependencies
        run: pnpm bootstrap

      - name: Get Release Options
        env:
          INPUT_DRY_RUN: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs.dry-run && 'true' || 'false' }}
          IS_DEFAULT_BRANCH: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        run: |
          if [[ $DRY_RUN != 'true' || $IS_DEFAULT_BRANCH == 'true' ]]; then
            echo "DRY_RUN=false" >> $GITHUB_ENV
          fi

      - name: Semantic Release
        id: semantic-release
        env:
          CI_FLAG: ${{ env.DRY_RUN == 'true' && 'false' || 'true' }}
          GIT_AUTHOR_EMAIL: '137683033+mrbro-bot[bot]@users.noreply.github.com'
          GIT_AUTHOR_NAME: 'mrbro-bot[bot]'
          GIT_COMMITTER_EMAIL: '137683033+mrbro-bot[bot]@users.noreply.github.com'
          GIT_COMMITTER_NAME: 'mrbro-bot[bot]'
          GITHUB_TOKEN: ${{ steps.get-workflow-app-token.outputs.token }}
        run: |
          # The semantic-release config creates outputs to indicate whether a new release was published and if so, which version.
          pnpm exec semantic-release --dry-run ${{ env.DRY_RUN }} --ci ${{ env.CI_FLAG }}
        shell: 'bash -Eeuxo pipefail {0}'

      - name: Push Release Branch To Major Branch
        if: ${{ env.DRY_RUN != 'true' && steps.semantic-release.outputs.new-release-published == 'true' }}
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ steps.get-workflow-app-token.outputs.token }}
        run: |
          # Update the major branch reference to the new release tag
          version=${{ steps.semantic-release.outputs.new-release-version }}
          sha=$(gh api repos/{owner}/{repo}/git/ref/tags/${version} | jq -r .object.sha)
          branch_name=v$(echo ${version} | cut -d . -f 1)
          ref=refs/heads/${branch_name}
          if [[ "$(gh api repos/{owner}/{repo}/git/ref/heads/${branch_name} 2>&1)" =~ "Not Found" ]]; then
            gh api -X POST repos/{owner}/{repo}/git/refs -f ref=${ref} -f sha=$sha
          else
            gh api -X PATCH repos/{owner}/{repo}/git/${ref} -f sha=$sha -F force=true
          fi
        shell: 'bash -Eeuxo pipefail {0}'
